* {
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  grid-template-areas:
    "header1  header2"
    "aside main";
  grid-template-columns: 2fr 8fr;
  background: #cccc66;
  width: 100%;
  height: 100%;
}
#header1 {
  grid-area: header1;
}
#header2 {
  grid-area: header2;
}
.header {
  height: 25vh;
  display: flex;
  justify-content: center;
}
.header img {
  height: 90%;
}
main {
  grid-area: main;
  background: #cccc66;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
aside {
  grid-area: aside;
  background: #cccc66;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#menu,
#fotos {
  width: 75%;
  overflow: hidden;
  max-width: 100%;
  align-self: center;
  height: 40%;
}
#menu {
  display: flex;
  flex-direction: column;
  background-color: #c59e55;
  text-align: left;
  list-style-type: none;
  font-size: 33px;
  list-style-position: inside;
  justify-content: space-around;
  border-radius: 30px;
  box-shadow: 5px 10px 8px #94945e;
  font-family: "Annie Use Your Telescope", cursive;
  width: 60%;
  padding: 2%;
}
#menu li {
  word-wrap: normal;
}
#menu li a {
  text-decoration: none;
  margin-left: 20%;
  color: rgb(88, 79, 66);
  font-size: 2.2vmax;
}
iframe {
  border: none;
  height: 75%;
  width: 75%;
}
@media (max-width: 1050px) {
  #menu {
    width: 70%;
    border-radius: 10px;
    padding: 0%;
    font-size: 3.5vmax;
  }
}
