*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  /* border: 1px solid green; */
}

:root {
  font-size: 18px;
  color: #fff;
  --primary-color: #ddc153;
  --secondary-color: #008575;
  background-color: var(--primary-color);
}
body {
  width: 100%;
  margin: 0 auto;
  background-color: #8a8686;
}
body *:not(header) {
  margin-top: 0.5rem;
}
.titol {
  text-align: center;
  font-weight: bolder;
  font-size: 1.8rem;
  color: var(--primary-color);
}
header {
  height: 12vh;
  display: flex;
  justify-content: space-between;
  background-color: #333;
}
header #navbar {
  display: none;
}
header div {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: end;
}

header div#container-logo > img {
  height: 140%;
  width: 100%;
}
header div#container-menu > img {
  height: 80%;
  margin-right: 0.5rem;
}
main {
  min-height: 90vh;
}
main article#pasio {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main article#pasio > img {
  height: 100%;
  width: 95%;
}

#proxims-concerts table {
  border-collapse: collapse;
  width: 100%;
}
#proxims-concerts table td {
  border-bottom: 1px solid --secondary-color;
  border-top: 1px solid black;
  text-align: left;
  padding: 5px;
}
main article#qui-som {
  padding: 0.3rem;
}
main article#qui-som p {
  text-align: justify;
}

main article#qui-som img {
  width: 100%;
}

@media (min-width: 960px) {
  :root {
    font-size: 25px;
  }
  header {
    background-color: black;
    height: 18vh;
    padding: 0.8rem 0;
  }
  header #container-menu {
    display: none;
  }
  header #container-logo {
    width: 30%;
  }
  header #container-logo > img {
    width: 50px;
  }
  header #navbar {
    display: flex;
    justify-content: space-around;
    width: 55%;
  }
  header #navbar a {
    color: #fff;
  }
}
