* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("./img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 16px;
}
body {
  width: 80%;
  margin: 0 auto;
}
/*HEADER*/
#header div#seccion1 {
  background: #000;
  opacity: 0.8;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
#header #botones {
  align-self: center;
  margin-left: 0.3rem;
}
#header #botones button {
  padding: 0.3rem;
  background: slategray;
  color: white;
}
#header div#seccion1 #logos {
  width: 80px;
}
#header div#seccion1 #contenedor_logos {
  width: fit-content;
}

/*NAV1*/
nav#nav1 {
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 16pt;
  background: lightblue;
  opacity: 0.8;
  padding: 0.5rem;
}
nav#nav1 li {
  list-style: none;
  display: inline;
}
nav#nav1 a {
  margin-right: 0.5rem;
  font-size: 1.3rem;
  text-decoration: none;
  color: black;
}
nav#nav1 a:hover {
  background: tomato;
}
nav#nav1 a:visited {
  color: black;
}
h1#titulo_main {
  background: #fff;
  opacity: 0.8;
  color: green;
  padding: 0.5rem;
  border-bottom: 5px solid green;
  margin-bottom: -5px;
}
/*MAIN*/
main#main {
  display: inline-block;
  background: #fff;
  width: 100%;
  height: 300px;
  font-size: 0px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  margin-top: -8px;
}
/*MAIN ASIDE*/

nav#aside_main {
  display: inline-block;
  background: lightblue;
  padding: 0.5rem;
  font-size: 0px;
  margin-right: -30px;
  margin-top: -200px;
  height: 200px;
}
#aside_list {
  font-size: 1.2rem;
  margin-left: 5%;
}
#aside_list li {
  margin-bottom: 0.3rem;
}
nav#aside_main #aside_list,
nav#aside_main #aside_list #lista_anidada {
  list-style: none;
}
#aside_list li:hover:not(#lista_anidada li) {
  color: tomato;
}

#lista_anidada li:hover {
  text-decoration: underline;
}
nav#aside_main #aside_list #lista_anidada {
  margin-left: 1rem;
}
/*MAIN ARTICLE*/
article#info {
  display: inline-block;
  padding: 1.2rem;
  font-size: 0px;
}
#tabla_main {
  display: inline-block;
  font-size: 1rem;
  margin-left: 100px;
}
article#info #tabla_main td {
  border: 1px dotted tomato;
  padding: 0.2rem 0.5rem;
}
article#info #tabla_main th {
  text-align: left;
  color: blue;
  letter-spacing: 2px;
}

#imagen_tabla {
  height: 145px;
  width: 300px;
  height: 150px;
  margin-left: 100px;
}
/*FOOTER*/

#footer_contacto {
  color: grey;
  background: lightgrey;
  font-size: small;
  font-style: italic;
}
#footer #contenedor_silueta {
  height: 120px;
  background: darkgrey;
  background-image: url("./img/silueta.png");
}

#w3c_logo {
  float: right;
}
