@font-face {
  font-family: Oswald-extra-light;
  src: url('./Font/Oswald/Oswald-ExtraLight.ttf');
}

header div#navbar {
  justify-content: end;
}
main {
  padding: 0.5rem;
  display: grid;
  grid-template-rows: 5% 90%;
  height: min-content;
  gap: 1rem;
}
article#galeria {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}
article#galeria section {
  width: min-content;
  height: min-content;
  background-color: #333;
  border-radius: 10px;
}
.titol-card {
  color: #f2d669;
}
.card-footer {
  font-size: 0.8rem;
  font-family: Oswald-extra-light;
  padding-bottom: 0.3rem;
}
