@charset "UTF-8";
@font-face {
  font-family: Oswald-bold;
  src: url('./Font/Oswald/Oswald-Bold.ttf');
}
@font-face {
  font-family: Oswald-light;
  src: url('./Font/Oswald/Oswald-Light.ttf');
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  text-align: center;

  /* border: 1px solid #fff; */
}

:root {
  font-size: 18px;
  font-family: Oswald-light;
  color: #fff;
  --primary-color: #f2d669;
  --secondary-color: rgb(70, 69, 69);
  --image-width: 80%;
}
body {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: var(--secondary-color);
}

.titol {
  font-weight: bolder;
  font-size: 2.2rem;
  font-family: Oswald-bold;
  color: var(--primary-color);
  margin-top: 0.6rem;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #000;
  padding-top: 0.5rem;
}
header #navbar {
  display: none;
}
header div#container-logo > img {
  width: 100%;
  margin: 0 auto;
  max-width: 200px;
}
header div#container-menu > i {
  font-size: 3.5em;
}

main article#pasio {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main article#pasio > img {
  height: 100%;
  width: var(--image-width);
  border-radius: 15px;
}

#proxims-concerts table {
  border-collapse: collapse;
  width: 95%;
  margin: 0 auto;
}
#proxims-concerts table td {
  border-top: 1px solid #fff;
  text-align: left;
  padding: 5px;
}
#proxims-concerts table tr:last-of-type {
  border-bottom: 1px solid #fff;
}
#proxims-concerts table td main article#qui-som p {
  text-align: justify;
}

main article#qui-som {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
main article#qui-som p {
  text-align: justify;
  text-justify: inter-word;
  margin: 0 auto;
  width: 95%;
  margin-bottom: 0.2rem;
  letter-spacing: 1.3px;
}

main article#qui-som img {
  width: var(--image-width);
  border-radius: 15px;
}

@media (min-width: 960px) {
  :root {
    font-size: 22px;
  }
  body {
    background: url('./imgs/background2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
    overflow-x: hidden;
  }
  header {
    height: 15vh;
  }
  header #container-menu {
    display: none;
  }
  header #container-logo {
    width: 30%;
  }
  header #container-logo > img {
    width: 50px;
  }
  header #navbar {
    display: flex;
    justify-content: space-around;
    width: 55%;
  }
  header #navbar a {
    color: #fff;
  }
  #proxims-concerts {
    display: none;
  }
  main {
    display: grid;
    grid-template-areas: '. qui pas';
    grid-template-columns: 10% 25% 55%;
    gap: 3rem;
  }
  main article#pasio {
    grid-area: pas;
    margin-top: -0.3em;
    height: 80%;
    margin-left: -5rem;
  }
  main article#pasio > h1 {
    color: var(--secondary-color);
  }
  main article#pasio > img {
    height: 100%;
    width: 80%;
  }
  main article#qui-som #container-qui-som {
    padding: 0.3rem;
  }
  article#pasio {
    order: +1;
  }
  article#qui-som {
    grid-area: qui;
    background-color: rgb(70, 69, 69);
    height: min-content;
    border-radius: 35px;
    margin-top: 1rem;
  }
  article#qui-som > * {
    margin: 0;
  }
  main article#qui-som img {
    display: none;
  }
  /* From cssbuttons.io by @CristianMontoya98 */
  .btn {
    width: 6.5em;
    height: 2.8em;
    margin: 0.5em;
    background: var(--secondary-color);
    color: #fff;
    border: none;
    border-radius: 0.625em;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }

  button:hover {
    color: #000;
  }

  button:after {
    content: '';
    background: var(--primary-color);
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
  }

  button:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
}
