@font-face {
  font-family: GreatVibes;
  src: url(../ttf/GreatVibes-Regular.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
:root {
  --negrogrisaceo: rgb(61, 60, 60);
  font-size: 1.3em;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
body > :not(header, footer) {
  margin-left: 2%;
}
body {
  background: whitesmoke;
}
header {
  text-align: center;
  padding: 7px 0px;
  font-size: 1.7em;
  background: rgb(61, 60, 60);
}
header h1 {
  font-family: GreatVibes;
  color: rgb(59, 145, 145);
}
header button {
  border: none;
  height: 25px;
  width: 150px;
  vertical-align: middle;
  border-radius: 50px;
}

header nav#link a {
  font-size: 1rem;
  margin-top: 1%;
  color: black;
  float: right;
  margin: 10px;
}
header + * {
  margin-top: 2%;
}

h3,
h4 {
  margin-bottom: 1%;
}

main img.foto {
  height: 90px;
  width: 90px;
  position: absolute;
  border-radius: 35px;
}
table#info-personal {
  margin-left: 20%;
}
ul li {
  margin-left: 20%;
}
section img[alt="Logo CDT"] {
  height: 75px;
  width: 75px;
}
#vo {
  background-color: goldenrod;
}
#moderno {
  background-color: limegreen;
}
#retro {
  background-color: tomato;
}
#animaciones {
  background-color: hotpink;
}
header p {
  color: white;
}
hr {
  border: 0;
  height: 1px;
  border-color: rgb(94, 114, 228);
  background-image: linear-gradient(
    to right,
    rgba(29, 43, 122, 0),
    rgba(45, 72, 221, 0.75),
    rgba(39, 62, 192, 0)
  );
}
li.I {
  list-style-type: upper-roman;
  margin-left: 20%;
}
li.square {
  list-style-type: square;
}
main + * {
  background-color: var(--negrogrisaceo);
}
.azul {
  color: darkslateblue;
}
.subrayado:not(h3) {
  text-decoration: underline;
  text-underline-offset: 0.2em;
}
footer {
  margin-top: 1%;
}
footer small {
  display: flex;
  justify-content: space-around;
}
footer small a {
  color: azure;
}
section#otros table tr td {
  width: 20%;
  padding: 5px;
}
/*Añadido en CSS Animaciones */

nav#link a:hover {
  text-decoration: underline;
}

header span#botones button:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
}
header span#botones button,
#info-personal i,
.foto {
  animation-name: aparecer;
  animation-duration: 3s;
  animation-fill-mode: backwards;
}
main .foto:hover,
.logoeduc:hover {
  transform: scale(1.5, 1.5);
}
header h1 {
  animation-duration: 1s;
  animation-name: deslizar;
  animation-fill-mode: backwards;
}
h3 {
  transition-timing-function: ease;
}
section:hover h3 {
  color: hotpink;
  animation-name: rosa;
  animation-fill-mode: forwards;
  animation-duration: 3s;
  transition-timing-function: ease;
}

@keyframes rosa {
  from {
    transform: scale(1) translateX(0rem);
  }
  to {
    transform: scale(1.3) translateX(23rem);
  }
}

@keyframes deslizar {
  from {
    transform: translateX(-50rem) scale(0.1, 0.1);
  }
  to {
    transform: translateX(0rem);
  }
}
@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
